<h1>{{ title }}</h1>
<form method="POST" action="/login">
	<label for="email">Email
	<input type="email" id="email" name="email" />
	</label>
	<br />

	<label for="password">Password
	<input type="password" id="password" name="password" />
	</label>
	<br />

	<input type="submit" value="Login" />
	<a href="register">or Register...</a>
</form>