<h1>{{ title }}</h1>
<form method="POST" action="register">
	<label for="email">Email
	<input type="email" id="email" name="email" />
	</label>
	<br />

	<label for="password">Password
	<input type="password" id="password" name="password" />
	</label>
	<br />

	<input type="submit" value="Sign Up" />
	Already have an account?
	<a href="login">Sign In</a>
</form>